* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./assets/bg-mobile-dark.jpg) no-repeat top center/cover;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

#container {
  width: 360px;
  height: 712px;

  margin: 56px auto 0;
}

#profile {
  width: 112px;
  gap: 16px;

  display: flex;
  text-align: center;
  flex-direction: column;

  margin: 0 auto;
}

#profile img {
  width: 112px;
  border-radius: 100%;
}

#profile a {
  text-decoration: none;
  color: #fff;
}

ul {
  margin-top: 32px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  text-decoration: none;
  color: #fff;

  padding: 16px 24px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  transition: background 0.5s;
}

ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
}
